{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'style.css' %}">
	
	<script src="{% static "logic.js" %}"></script>
  
	<title>PetsCheck</title>
	
</head>
<body>
	<div class="wrapper">
		<div class="header">
			<a href="" class="logo">
				<img src="{% static "asset/logo.png" %}" alt="">
			</a>
			<nav class="menu">
				<div class="item">
					<a href="/">Home</a>
				</div>
				<div class="item">
					<a href="#" id="gotoPets">Pets</a>
				</div>
				<button class="item" id="connectButton" type="submit">
					Connected Wallet
				</button>
			</nav>
		</div>
		<!--mainview--> 
    {% block mainview %}{%endblock mainview %}
    {% block Pets %}{%endblock Pets %}
	<script>
		let accounts;
		var walletAddress;
		var isconnect = false;
		const connectButton = document.getElementById('connectButton');
		window.addEventListener('load', function() {
			if (typeof window.ethereum !== 'undefined' && window !== 'undefined') {
                window.ethereum.request({ method: 'eth_requestAccounts' })
                .then(accounts => {
                    const userAddress = accounts[0];
                    connectButton.textContent = "Connected: "+ accounts[0].substring(0,6) + "..."; 
                    isconnect = true;
					          walletAddress = accounts[0];
                    /*var dataToSend = {
                      key1: accounts[0],
                      // Thêm các trường dữ liệu khác nếu cần
                    };
                    $.ajax({
                      type: 'POST',
                      url: '/your-django-endpoint/',
                      contentType: 'application/json; charset=utf-8',
                      data: JSON.stringify(dataToSend),
                      success: function(response) {
                          console.log('Response from Django:', response);
                          // Xử lý phản hồi từ server nếu cần
                      },
                      error: function(error) {
                          console.error('Error sending request to Django:', error);
                      }
                    });*/
                })
                .catch(error => {
                    console.error('Error getting user accounts:', error);
                });
        }
		});
		document.getElementById('gotoPets').addEventListener('click', function(event) {
			// Ngăn chặn chuyển hướng trang mặc định
			event.preventDefault();
		
			// Lấy giá trị biến JavaScript
			var myVariable = walletAddress;
		
			// Cập nhật đường dẫn URL với tham số truy vấn
			var newUrl = '/Pets.HTML?myVariable=' + encodeURIComponent(myVariable);
		
			// Chuyển hướng trang
			window.location.href = newUrl;
		});
		document.getElementById('connectButton').addEventListener('click', connect);
		function updateButtons() {
			if (accounts) {
				connectButton.textContent = "Connected: "+ walletAddress.substring(0,6) + "..."; 
				isconnect = true;
			} else {
				connectButton.textContent = "Connected Wallet";
				isconnect = false;
			}
		}
		async function connect() {
		  if(!isconnect){
			try {
				// Request account access if needed
				accounts = await ethereum.request({ method: 'eth_requestAccounts' });
				walletAddress = accounts[0];
				updateButtons();
				sendPostRequest(walletAddress);
			} catch (error) {
				
			}
		  }else{
			
		  }
		}
    
    //Pets
    
    //Pets
    
		// Check if MetaMask is installed
		if (window.ethereum) {
			// Đăng ký sự kiện cho việc thay đổi tài khoản
			window.ethereum.on('accountsChanged', function (Accounts) {
			  if (Accounts.length > 0) {
				// MetaMask đã kết nối và có ít nhất một địa chỉ tài khoản
				console.log('MetaMask connected:', Accounts[0]);
				accounts = Accounts;
					
			  } else {
				// MetaMask đã ngắt kết nối
				console.log('MetaMask disconnected');
				accounts = false;
				updateButtons();
			  }
			});
			// Đăng ký sự kiện cho việc thay đổi chuỗi (blockchain)
			window.ethereum.on('chainChanged', function (chainId) {
			  // Xử lý khi chuỗi thay đổi
			  console.log('Chain changed:', chainId);
			});
		} else {
			// MetaMask không được hỗ trợ hoặc không cài đặt
			console.log('MetaMask not supported');
		}
	</script>
</body>
</html>