{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<title>main view</title>
	
</head>
<body>
	<div class="wrapper">
		<div class="header">
			<a href="" class="logo">
				<img src="{% static "asset/logo.png" %}" alt="">
			</a>
			<nav class="menu">
				<div class="item">
					<a href="">Home</a>
				</div>
				<div class="item">
					<a href="">Pets</a>
				</div>
				<div class="item">
					<a href="/login">Login</a>
				</div>
			</nav>
		</div>
		<video class="video-banner" autoplay muted loop src="{% static "asset/dog1.mp4" %}"></video>
		<div class="banner">
			<div class="boxleft">
				<h2>
					<span>Pets</span>
					<br>
					<span>là để yêu</span>
				</h2>
			</div>
		</div>
		<div class="content">
		</div>
		<div class="grid-container">
			<div class="grid-item">
				<video src="{% static "asset/dachshund_dog_-_26314 (360p).mp4" %}"autoplay muted loop></video>
				<h2>Dogs</h2>
			</div>
			<div class="grid-item">
				<video src="{% static "asset/dachshund_dog_-_26314 (360p).mp4" %}"autoplay muted loop></video>
				<h2>Cats</h2>
			</div>
			<div class="grid-item">
				<video src="{% static "asset/dachshund_dog_-_26314 (360p).mp4" %}"autoplay muted loop></video>
				<h2>Orther</h2>
			</div>
		</div>
	</div>
</body>
</html>